.App {
  text-align: center;
  top:0;
  padding: none;
  margin: 0 auto;
  background-color: rgba(0,50,200,0.15);
  min-height: 100vh;
  padding: 50px 0px;
}
button {
  cursor: pointer;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.letter {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(255, 225, 0, 0.2);
  font-size:  0.8em;
  width:50%;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
}
